.post-card
    min-height: 50vh
    max-width: 900px
    margin: 12px auto

    &__content
        margin-top: 2em
        font-size: 18px
        text-align: justify

.header-picture
    height: 200px
    width: 100%
    background-image: url(../../../assets/images/cosmos.jpg)
    background-position: center