<form [formGroup]="form">
    <div class="row">
      <mat-form-field class="form__input">
        <input formControlName="title" matInput type="text" placeholder="tytuł wpisu">
        <mat-error>Wpis musi mieć tytuł</mat-error>
      </mat-form-field>
    </div>
  <div class="row">
        <div class="form__input">
          <quill-editor matInput [modules]="config" formControlName="content"></quill-editor>
          <mat-error *ngIf="form.get('content').hasError('required') && form.get('content').dirty">Wpis musi mieć treść</mat-error>
        </div>
    </div>
</form>